

:root {
    --white: #FFFFFF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
    }

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}
.link {
text-decoration: none;
}
.list {
    list-style: none;
    display: flex;
}
p, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

/* web studio */


.header-logo {
    color: var(--iris, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        }
        
.header-logo-color {
    color: var(--navyblue, #2E2F42);
}

.header-menu-link {
    color: var(--navyblue, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        }

.header-menu-link:hover {
    color: var(--ocean, #404BBF);
}

.header-menu-link:focus {
    color: var(--ocean, #404BBF);
}

.adress {
    font-style: normal;
}
.header-adress-link {
    color: var(--slate, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
}

.header-adress-link:hover {
color: var(--ocean, #404BBF);
}

.header-adress-link:focus {
color:var(--ocean, #404BBF);
}

.hero {
background: var(--navyblue, #2E2F42);
padding: 188px 0;
margin: 0 auto;
}

.hero-titl {
    color: var(--white, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        width: 496px;
        margin: 0 auto;
        
}
.hero-button {
    
        background: var(--iris, #4D5AE5);
            color: var(--white, #FFF);
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            display: block;
            padding: 16px 32px;
            gap: 10px;
            border-radius: 4px;
            background: var(--iris, #4D5AE5);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            margin: 0 auto;
}

.hero-button:hover {
    background-color: var(--ocean, #404BBF);
}

.hero-button:focus {
    background-color: var(--ocean, #404BBF);
}

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-item {
    padding-right: 24px;
}

.advantages-item:last-child {
    padding-right: 0;
}
.advantages-titl {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 264px;
    text-align: center;
    }

.advantages-text {
    color: var(--slate, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
    }

.services {
    padding-bottom: 120px;
}

.services-item {
    padding-right: 24px;
}
.services-item:last-child {
    padding-right: 0;
}
.services-titl {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-bottom: 72px;
        width: 323px;
        margin: 0 auto;
}

.team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
}

.team-item {
    background-color: #FFFFFF;
    padding-right: 24px;
}

.team-item:last-child {
    padding-right: 0;
}
.team-titl {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-bottom: 72px;
        width: 162px;
        margin: 0 auto;
}

.team-titl-three {
    color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        padding-bottom: 8px;
        text-align: center;
        width: 134px;
        margin: 0 auto;
}
.team-text {
    color: var(--slate, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
        text-align: center;
        width: 128px;
        margin: 0 auto;
}

.footer {
    background: var(--navyblue, #2E2F42);
    padding-top: 120px;
    padding-bottom: 120px;
}
.footer-logo {
    color:var(--iris, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-bottom: 17.5px;
}
.footer-logo-color {
color: var(--cloud, #F4F4FD);
}

.footer-text {
    color: var(--cloud, #F4F4FD);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        padding-top: 17.5px;
}

/* P O R T F O L I O */


.section button {
        background-color: var(--cloud, #F4F4FD);
        color: var(--iris, #4D5AE5);
            text-align: center;
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
}

.section button:hover {
    background: var(--ocean, #404BBF);
    color: var(--white, #FFFFFF);
}

.section button:focus {
    background: var(--ocean, #404BBF);
    color: var(--white, #FFFFFF);
}

.section-titl {
    color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-text {
    color: var(--slate, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

