

:root {
    --white: #FFFFFF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --cornflower: #E7E9FC
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
    }

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /*outline: 2px solid red;*/
}
.link {
text-decoration: none;
}
.list {
    list-style: none;
    
}
p, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    padding-left: 0;
    display: flex;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

/* web studio */

.header-container {
display: flex;
align-items: center;
border-bottom: 1px solid var(--cornflower,#E7E9FC);
}

.header-navigation {
    display: flex;
    align-items: center;
}   
 
.header-menu-list {
    display: flex;
    gap: 40px;
}
.header-logo {
    color: var(--iris, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        }
        
.header-logo-color {
    color: var(--navyblue, #2E2F42);
}


.header-menu-link {
    color: var(--navyblue, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        }

.header-menu-link:hover {
    color: var(--ocean, #404BBF);
}

.header-menu-link:focus {
    color: var(--ocean, #404BBF);
}

.adress {
    font-style: normal;
    margin-left: auto;
}

.header-adress-list {
    display: flex;
    gap: 40px;
}
.header-adress-link {
    color: var(--slate, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
}

.header-adress-link:hover {
color: var(--ocean, #404BBF);
}

.header-adress-link:focus {
color:var(--ocean, #404BBF);
}

.hero {
background: var(--navyblue, #2E2F42);
margin: 0 auto;
padding-bottom: 292px;
padding-top: 188px;
}

.hero-titl {
    color: var(--white, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        width: 496px;
        margin: 0 auto;
        
        
        }
.hero-button {
    
        background: var(--iris, #4D5AE5);
            color: var(--white, #FFF);
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            display: block;
            padding: 16px 32px;
            gap: 10px;
            border-radius: 4px;
            background: var(--iris, #4D5AE5);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            margin: 0 auto;
            margin-top: 48px;
            
}

.hero-button:hover {
    background-color: var(--ocean, #404BBF);
}

.hero-button:focus {
    background-color: var(--ocean, #404BBF);
}

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-list {
    display: flex;
    gap: 24px;
    
}

.advantages-item {
width: calc((100% - 72px) / 4);
}
.advantages-titl {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    max-width: 264px;
    text-align: center;
    margin-bottom: 8px;
    }

.advantages-text {
    color: var(--slate, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        }

.services {
    padding-bottom: 120px;
    padding-top: 120px;
    
}

.services-list {
    display: flex;
    }

.services-item {
    padding-right: 24px;
    
}
.services-item:last-child {
    padding-right: 0;
}
.services-titl {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-bottom: 72px;
        width: 323px;
        margin: 0 auto;
}

.team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
    display: flex;
}
.team-cart {
    display: flex;
}
.team-item {
    background-color: #FFFFFF;
    padding-right: 24px;
}

.team-item:last-child {
    padding-right: 0;
}

.team-list {
    display: flex;
}
.team-titl {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-bottom: 72px;
        width: 162px;
        margin: 0 auto;
}

.team-titl-three {
    color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        padding-bottom: 8px;
        text-align: center;
        width: 134px;
        margin: 0 auto;
        padding-top: 32px;
}
.team-text {
    color: var(--slate, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
        text-align: center;
        width: 128px;
        margin: 0 auto;
}

.footer {
    background: var(--navyblue, #2E2F42);
    
}
.footer-logo {
    display: inline-block;
    color:var(--iris, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 17.5px;
        padding-top: 101.5px;
        width: 71px;
}
.footer-logo-color {
color: var(--cloud, #F4F4FD);
}

.footer-text {
    color: var(--cloud, #F4F4FD);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
        padding-bottom: 100px;
}

/* P O R T F O L I O */

.section-list {
    display: flex;
    justify-content: center;
    

}
.section button {
        background-color: var(--cloud, #F4F4FD);
        color: var(--iris, #4D5AE5);
            text-align: center;
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            display: blok;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: 1px solid var(--cornflower, #E7E9FC);
                background: var(--cloud, #F4F4FD);
                margin-top: 96px;
                margin-bottom: 72px;
                margin-right: 24px;
}

.section button:last-child {
    margin-right: 24px;
}


.section button:hover {
    background: var(--ocean, #404BBF);
    color: var(--white, #FFFFFF);
}

.section button:focus {
    background: var(--ocean, #404BBF);
    color: var(--white, #FFFFFF);
}

.section-two-list {
    
}

.section-two-item {
    width: calc((100% - 48px) / 3);
}
.cart {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding-bottom: 120px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
   
}


/*.section-link {
    width: 360px;
    height: 300px;
    
}*/
.section-titl {
    color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        width: 290px;
        padding-top: 32px;
}
.section-text {
    color: var(--slate, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        height: 30px;
        padding-bottom: 32px;
        
}

